{
  "env": {
    "browser": true,
    "node": false,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "extends": "../bin/webpack-eslint.js",
  "rules": {
    "strict": [2, "never"],
    "import/no-webpack-loader-syntax": 0
  }
}
