{
  "env": {
    "browser": false,
    "node": false,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "extends": "../bin/webpack-eslint.js",
  "rules": {
    "strict": [2, "never"]
  }
}
