{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": false
  },
  "extends": "airbnb",
  "ecmaFeatures": {
    "modules": false
  },
  "rules": {
    "react/prefer-stateless-function": [0],
    "import/extensions": [0],
    "import/no-extraneous-dependencies": [2, {"devDependencies": true, "optionalDependencies": true}],
    "arrow-parens": [2, "as-needed"],
    "no-underscore-dangle": [2, { "allowAfterThis": true }],
    "no-console": 0,
    "comma-dangle": [2, "never"], // not sure why airbnb turned this on. gross!
    "max-len": [2, 200, 4],
    "no-else-return": 0,
    "new-cap": 0,
    "prefer-template": 0,
    "arrow-body-style": 0,
    "no-nested-ternary": 0,
    "default-case": 0,
    "jsx-a11y/label-has-for": 0
  }
}
