@font-face {
	font-family: 'custom-font';
	src:url('./custom-font.eot') format('embedded-opentype'),
		url('./custom-font.ttf') format('truetype'),
		url('./custom-font.woff') format('woff'),
		url('./custom-font.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

:local(.customFont) {
	font-family: 'custom-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:local(.customFontJs) :local(.path1):before {
	content: "\e600";
	color: rgb(247, 223, 30);
}
:local(.customFontJs) :local(.path2):before {
	content: "\e601";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
