{
  "env": {
    "browser": true,
    "node": false,
    "jasmine": false
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "__DEVTOOLS__": false
  },
  "extends": "../bin/webpack-eslint.js",
  "rules": {
    "strict": [2, "never"]
  }
}
