<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TodoMVC app</title>
  <% if(__PROD__) { %><script src="cordova.js"></script><% } %>
</head>
<body>
  <div id="app">
    <%= htmlWebpackPlugin.options.getAppContent() %>
  </div>
</body>
</html>
